<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.winlator">
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.vr.headtracking"
        android:required="false" />
    <uses-feature
        android:name="com.oculus.feature.PASSTHROUGH"
        android:required="false" />
    <uses-feature
        android:name="oculus.software.handtracking"
        android:required="false" />
    <uses-feature
        android:name="oculus.software.overlay_keyboard"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>

    <application
        android:icon="@mipmap/ic_launcher"
        android:appCategory="game"
        android:isGame="true"
        android:extractNativeLibs="true"
        android:allowAudioPlaybackCapture="true"
        android:label="Winlator.glibcmod">

        <activity android:name="com.winlator.MainActivity"
            android:theme="@style/AppTheme"
            android:exported="true"
            android:screenOrientation="sensor"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|density|navigation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.winlator.XServerDisplayActivity"
            android:exported="false"
            android:theme="@style/AppThemeFullscreen"
            android:launchMode="singleTask"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|density|navigation"
            android:screenOrientation="sensorLandscape" />

        <activity
            android:name="com.winlator.XrActivity"
            android:configChanges="density|orientation|screenSize|keyboard|keyboardHidden|uiMode"
            android:exported="true"
            android:launchMode="singleTask"
            android:resizeableActivity="false"
            android:screenOrientation="landscape"
            android:process=":vr_process"
            android:theme="@style/AppThemeFullscreen">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="com.oculus.intent.category.VR" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.winlator.ControlsEditorActivity"
            android:exported="false"
            android:theme="@style/AppThemeFullscreen"
            android:screenOrientation="sensorLandscape" />

        <activity android:name="com.winlator.ExternalControllerBindingsActivity"
            android:theme="@style/AppTheme"
            android:exported="false"
            android:screenOrientation="sensor" />

        <!-- Add the CustomFilePickerActivity here -->
        <activity
            android:name="com.winlator.saves.CustomFilePickerActivity"
            android:theme="@style/AppTheme"
            android:exported="false"
            android:screenOrientation="sensor" />

        <receiver
            android:name=".ShortcutBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.winlator.SHORTCUT_ADDED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.winlator.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <provider
            android:name="bin.mt.file.content.MTDataFilesProvider"
            android:permission="android.permission.MANAGE_DOCUMENTS"
            android:exported="true"
            android:authorities="com.winlator.MTDataFilesProvider"
            android:grantUriPermissions="true">
            <intent-filter>
                <action
                    android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>


        <provider
            android:name=".core.WinlatorFilesProvider"
            android:authorities="com.winlator.core.WinlatorFilesProvider"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
    </application>
</manifest>
